@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.eot");
  src: url("../fonts/SpaceGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Medium.woff") format("woff"),
    url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype"),
    url("../fonts/SpaceGrotesk-Medium.svg#SpaceGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
